/*.nav-list {
  background-color: black;
  padding: 1rem 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  flex: 1;

}
.nav-item {
  list-style: none;
  margin-right: 2em;
  margin-left: 2em;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover {color: white}
*/
* {font-family: arial;}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover {
    color: #00cc66;
}
nav ul li a #fish {
    font-size: 30px;
}

.media{
    margin-right: 80px;
}
.media ul li a {
    font-size: 20px;
}
.content {
    text-align: center;
    color: white;
}
.content h1 {
    font-size: 140px;
    color: white;
    font-weight: 600;
    padding: 30px;
    padding-top: 160px;
}
.content div {
    color: white;
    font-style: italic;
    font-size: 25px;
    display: block;
}
.fpage .video-backround .vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.contact {
  text-align: center;
}
.contact h1 {
  font-size: 100px;
  color: white;
  font-weight: 600;
  padding: 30px;
  padding-top: 200px;
}
.contact h2 {
  font-size: 25px;
  color: white
}
.contact a {
  text-decoration: none;
  color: white;
}
.contact a:hover {
  color: #00cc66
}
table {margin: 180px 0px 0px 200px; width: 80%}
table, th, td {opacity: 0.85}
th, td {padding: 10px; text-align: center; font-family: arial}
tr:nth-child(even){
  background-color: #e8e8e8;
}
tr:nth-child(odd){
  background-color: white;
}
.head {background-color: #00cc66}
.container {
  margin:auto;
  margin-top: 200px;
  width:80%;
  background-color: #00cc66;
  color: white;
  font-family: arial;
  padding:25px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.service {
}
